<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="BrZend Test Suite">
            <directory>./</directory>
             <logging>
             	<log type="coverage-clover" target="../../../build/logs/clover.xml"/>
             </logging>
        </testsuite>
    </testsuites>
</phpunit>
